.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;

}

.message__userCard {
  background: #0b81ff !important;
  color: #fff !important;
}

.message__gestCard {
  background: #e9e9eb !important;
}